target/
!.mvn/wrapper/maven-wrapper.jar
## STS Support
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

## Logs and OS files
*.log
.DS_Store
Thumbs.db

## Local settings
src/main/resources/application-local.yml

